################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BrowserApiConsole/bin/Debug
/WpfExportApp/bin
/WpfExportApp/obj
/.DS_Store
/.vs/BrowserHistoryExportApi
/BrowserApiConsole/obj
/BrowserHistoryExportApi
