################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BrowserApiConsole/bin/Debug
/WpfExportApp/bin
/WpfExportApp/obj
/.DS_Store
/.vs/BrowserHistoryExportApi
/BrowserApiConsole/obj
/BrowserHistoryExportApi/bin/Debug
/BrowserHistoryExportApi/obj
/packages/FontAwesome.WPF.4.7.0.9
